apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: nodeconfigs.core.eda.nokia.com
spec:
  group: core.eda.nokia.com
  names:
    kind: NodeConfig
    listKind: NodeConfigList
    plural: nodeconfigs
    singular: nodeconfig
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: NodeConfig is the Schema for the nodeconfigs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NodeConfigSpec defines the desired state of NodeConfig
            properties:
              configs:
                description: An array of configurations (paths and corresponding configs) applied in this NodeConfig
                items:
                  properties:
                    config:
                      description: |-
                        For Create/Update operations, this is a mandatory json object representing the configuration.
                        For Delete operation, this is an optional json array representing the fields to delete
                      type: string
                    encrypt:
                      description: |-
                        Encrypt the payload of the config.
                        For Delete operation, this does not apply.
                      type: boolean
                    operation:
                      description: Operation to perform on the configuration
                      enum:
                      - Create
                      - Update
                      - Delete
                      type: string
                    path:
                      description: Path to place the configuration on the node, in json path format
                      type: string
                  required:
                  - operation
                  - path
                  type: object
                type: array
              node-endpoint:
                description: Reference to a TopoNode to which this config is applied
                type: string
              priority:
                default: 0
                description: |-
                  Sets the priority of this NodeConfig, with lower priorities being overwritten by higher priorities.
                  Negative priorities may be used to indicate a lower-than-default priority.
                format: int32
                maximum: 100
                minimum: -100
                type: integer
            required:
            - configs
            - node-endpoint
            type: object
          status:
            description: NodeConfigStatus defines the observed state of NodeConfig
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
